body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.margined {
  margin: 4%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}

@media (minwidth: 375px) and (maxwidth: 1440px) {
  .footer-begin {
    background-image: url("../images/bg-footer-top-mobile.svg");
  }

  .feature-top-1{
    background-image: url("../images/bg-section-top-desktop-1.svg");
  }

  .feature-bottom-1{
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
  }

  .feature-top-2{
    background-image: url("../images/bg-section-top-desktop-2.svg");
  }

  .feature-bottom-2{
    background-image: url("../images/bg-section-top-desktop-2.svg");
  }
}

.extra-large-heading {
  font-size: 4.5rem;
  font-weight: 400;
}

.small-bold-heading {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.logo {
  float: left;
}

.trial-button {
  float: right;
  border-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border-radius: 35px;
  padding: 0.8% 3.5%;
}

#intro {
  padding-top: 18%;
  text-align: center;
  margin: 2%;
}

.about {
  width: 50%;
  margin: auto;
}

.start-button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 35px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 2% 5%;
  margin: 4% auto 6%;
}

.mockups {
  width: 80%;
}

#stats {
  text-align: left;
  margin: 5%;
}

.community-info {
  margin-bottom: 10%;
  text-align: center;
}

.community-text {
  color: grey;
}

.feature {
  margin: 0 4%;
}

.colored-feature{
  background-color: hsl(207, 100%, 98%);
}

.feature-about {
  margin: auto;
}

.feature-info {
  font-size: 0.86rem;
}

.feature-image {
  width: 90%;
  padding: 15% 5%;
}

.feature-top-1{
  background-image: url("../images/bg-section-top-desktop-1.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 180px;
}

.feature-bottom-1{
  background-image: url("../images/bg-section-bottom-desktop-1.svg");
  background-repeat: no-repeat;
  background-position: top;
  height: 180px;
}

.feature-top-2{
  background-image: url("../images/bg-section-top-desktop-2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 180px;
}

.feature-bottom-2{
  background-image: url("../images/bg-section-top-desktop-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  height: 180px;
}

#trial {
  text-align: center;
  padding: 5%;
}

footer {
  padding: 5%;
  font-size: 0.86rem;
  background-color: hsl(192, 100%, 9%);
  color: white;
  margin: 0;
}

.footer-begin {
  background-image: url("../images/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 180px;
}

.contact-info {
  padding: 5%;
}

.social-icons {
  margin: 10% auto;
}

.social-icon-section {
  padding: 2% 8% 2% 0;
  display: inline-block;
}

.subscription {
  padding: 5% 0;
  margin: auto;
}

.newsletter {
  padding: 5%;
}

.newsletter-input {
  display: inline-block;
  width: 61%;
  margin-right: 5px;
}

.newsletter-subscribe-button {
  float: right;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 1.2% 5%;
  display: inline-block;
}

.attribution {
  text-align: center;
  padding: 5%;
  margin: auto;
}
