body{
  margin: 4%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: grey;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}

.logo{
  float: left;
}

.trial-button{
  float: right;
  border-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border-radius: 35px;
  padding: 0.8% 3.5%;
}

#intro{
  padding-top: 18%;
  text-align: center;
  margin: 2%;
}

.about{
  width: 50%;
  margin: auto;
}

.start-button{
  background-color: hsl(322, 100%, 66%);
  border-radius: 35px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 2% 5%;
  margin: 4% auto 6%;
}
