body {
  margin: 4%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
}

.extra-large-heading{
  font-size: 4.5rem;
  font-weight: 400;
}

.small-bold-heading{
  font-weight: bold;
  text-transform: uppercase;
}

.logo {
  float: left;
}

.trial-button {
  float: right;
  border-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border-radius: 35px;
  padding: 0.8% 3.5%;
}

#intro {
  padding-top: 18%;
  text-align: center;
  margin: 2%;
}

.about {
  width: 50%;
  margin: auto;
}

.start-button {
  background-color: hsl(322, 100%, 66%);
  border-radius: 35px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 2% 5%;
  margin: 4% auto 6%;
}

.mockups-image{
  overflow: scroll;
}

#stats{
  text-align: left;
  margin: 5%;
}

.community-info{
  margin-bottom: 10%;
  text-align: center;
}

.community-text{
  color: grey;
}

.feature-info{
  font-size: 0.86rem;
}

#trial{
  text-align: center;
  padding: 5%;
}

footer{
  padding: 5%;
  font-size: 0.86rem;
}

.contact-info{
  padding: 5%;
}

.social-icons{
  margin: 10% auto;
}

.social-icon-section{
  padding: 2% 8% 2% 0;
  display: inline-block;
}

.subscription{
  padding: 5% 0;
  margin: auto;
}

.newsletter-input{
  display: inline-block;
  width: 50%;
  margin-right: 20px;
}

.newsletter-subscribe-button{
  float: right;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 1.2% 5%;
  display: inline-block;
}

.attribution{
  text-align: center;
  padding: 5%;
  margin: auto;
}
